$barColor: aqua;
$selectedBar1Color: green;
$selectedBar2Color: red;

$mobileScreenWidth: 600px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
}

button {
  padding: 10px;
  margin: 10px;
}


.controls {
  display: flex;

  .array-controls-wrapper {
    display: inherit;
  }

  .sliders-wrapper {
    display: inherit;
  }

  .slider-container {
    display: inherit;
    align-items: center;
    margin-left: 10px;
  
    div{
      margin-right: 10px;
    }
  }

  #sorting-button-list {
    display: flex;
    flex-wrap: wrap;
  
    li {
      list-style: none;
  
      margin: 10px;
      padding: 10px;
  
      border: 2px solid gray;
      border-radius: 2px;
  
      cursor: pointer;
    }
  
  }

  @media only screen and (max-width: $mobileScreenWidth) {

    padding: 10px;
    flex-direction: column;

    .sliders-wrapper {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    #sorting-button-list {
      justify-content: space-evenly;
    }
  }
}

#bar-container {
  height: 100px;
  width: 70%;
  margin: 20px auto;

  display: flex;
  align-items: flex-end;
  padding: 10px;

  div {
    display: inline-block;
    background-color: $barColor;
    flex-grow: 1;

    margin-left: 1px;
  }

  @media only screen and (max-width: $mobileScreenWidth) {
    width: 100%;
    margin: 0;
  }

  .selectedBar1 {
    background-color: $selectedBar1Color;
  }

  .selectedBar2 {
    background-color: $selectedBar2Color;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  div {
    margin: 10px 15px;
    text-align: right;

    @media only screen and (max-width: $mobileScreenWidth) {
      text-align: center;
      margin: 10px auto;
    }
  }
}